@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Pacifico&display=swap');

* {
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    /* background: linear-gradient(0deg, rgba(0, 255, 255,1), rgba(0,255,255,0.6), rgba(0,255,255,0.3), rgba(0,255,255,0.1)); */
}

.fullbg{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* position: relative; */
    margin: 0;
    /* margin-top: -3.5rem; */
    padding: 2rem;
    min-height: 120vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 255, 255,1), rgba(0,255,255,0.6), rgba(0,255,255,0.3), rgba(0,255,255,0.1));
}

.display{
    /* position: relative; */
    /* top: -10rem; */
    /* justify-content: center; */
    font-family: 'Pacifico', cursive;
    font-size: 3.5rem;
    color: rgb(50, 141, 244);
    text-align: center;
    margin-left: auto;
    margin-top: 0;
    transition: transform 1s ease-in-out;
}

/* .display:hover{
    transform: scale(1.1);
} */

.score{
    /* position: absolute; */
    /* top: 6rem; */
    /* justify-content: center; */
    text-align: center;
    /* width: fit-content; */
    margin: 0;
    margin-top: -0.5rem;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: rgb(247, 0, 198);
}

.highscore{
    /* position: absolute; */
    /* top: -1rem; */
    /* left: 1rem; */
    /* justify-content: center; */
    font-family: 'Pacifico', cursive;
    font-size: 1.7rem;
    padding: 0.5rem;
    background: rgb(170, 245, 255);
    text-align: center;
    width: fit-content;
    margin: 0;
    margin-top: -10rem;
    color: rgb(37, 0, 247);
    border: 0.2rem solid black;
    border-radius: 1rem;
    cursor:grab;
    transition: transform 1s ease-out
}

.highscore:hover{
    /* transform: scale(1.05); */
    transform: rotateY(90deg) rotateX(90deg) ;
}

.njerry{
    position: absolute;
    display: none;
    top: 7rem;
    margin: 0;
    right: 3rem;
    width: 15rem;
    height: auto;
    border: 0.5rem solid white;
    border-radius: 50%;
    transition: all 0.5s ease-out;
}

.jerry{
    display: block;
    cursor: pointer;
}

.jerry:hover{
    transform: scale(1.1);
    box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.354);
}

.dices{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 255, 221);
    padding: 2rem;
    border: 0.4rem solid white;
    box-shadow: 0rem 0rem 0.6rem 0.1rem rgb(0, 54, 64);
    border-radius: 1rem;
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
    transition: all 1s ease-out;

}

.dices:hover{
    /* transition: 0.5s ease-out; */
    background: linear-gradient(circle, rgba(255,255,255,1) 0%, rgba(64,255,221,1) 18%, rgba(77,170,255,1) 50%, rgba(64,255,221,1) 75%, rgba(255,255,255,1) 100%);
    background: rgb(241, 252, 255);
    border: 0.4rem solid rgb(81, 81, 81);
    box-shadow: 0rem 0rem 0.6rem 0.5rem rgb(0, 92, 109);
}



.first{
    width: 10rem;
    transition: all 1s ease-out;
}

.second{
    width: 10rem;

    transition: all 1s ease-out;
    margin-left: 3rem;
}

.won{
    background: green;
    border: 0.6vw solid green;
    border-radius: 1rem;
}

.lost{
    background: red;
    border: 0.6vw solid red;
    border-radius: 1rem;
}

.draw{
    background: black;
    border: 0.6vw solid black;
    border-radius: 1rem;
}

.first:hover{
    transform: scale(1.15);
    box-shadow: 0 0 0.5rem 0.4rem rgba(5, 5, 5, 0.575);
    border-radius: 1.9rem;
}
/* .first:hover ~ .second{
    transform: scale(0.8);
    
} */

.second:hover{
    transform: scale(1.15);
    box-shadow: 0 0 0.5rem 0.4rem rgba(5, 5, 5, 0.575);
    border-radius: 1.9rem;
}
/* .second:hover ~ .first{
    transform: scale(0.8);
} */

.showplayer{
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
}


.play{
    /* position: absolute; */
    /* top: 15rem; */
    border: none;
    font-family: 'Pacifico', cursive;
    padding: 0.7rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    margin: auto;
    /* margin-left: 35.5%; */
    /* margin-right: 46.5%; */
    display: flex;
    justify-content: center;
    z-index: 0;
    cursor: pointer;
    transition: all 1.5s ease-out
}

.play:before{
    content: '';
    position: absolute;
    left: -0.5rem;
    top: -0.5rem;
    width: calc(100% + 1rem);
    height: calc(100% + 1rem);
    opacity: 0;
    background: linear-gradient(90deg, rgb(1, 90, 98),rgb(1, 144, 157), rgb(2, 195, 212),rgb(116, 223, 255),rgb(43, 137, 166),rgb(36, 117, 142), rgb(27, 74, 88));
    animation: glowing 4s linear infinite;
    border-radius: 1rem;
    transition: opacity 0.1s ease-in-out;
    z-index: -1;
}

.play::after{
    content:'';
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    border-radius: 1rem;
    z-index:-1;
    transition: background 1s ease-out;
}

.play:hover:before{
    opacity: 1;
}

.play:hover{
    color: white;
    transform: scale(1.1);
}

.play:hover::after{
    background: black;
    transform: scale(1.1);
}

.play:active::before{
    opacity: 0;
}

.play:active{
    transform: scale(0.5);
}


@keyframes glowing{
    0%{background-position: 0 0;}
    50%{background-position: 2000000% 0;}
    100%{background-position: 0 0;}
}

@media (max-width: 500px) {
    .display{
        font-size: 1.5rem;
    }
    .highscore{
        margin: 0.5rem auto;
        font-size: 1rem;
    }
    .dices{
        border: 1vw solid white;
        padding: 2vw;
    }
    .first{
        width: 30vw;
    }
    .second{
        margin-left: 5vw;
        width: 30vw;
    }
}

@media (max-width: 1200px) {
    .fullbg{
        padding: 1rem;
    }
    .highscore{
        margin: 1rem auto;
        width: 40%;
        background: white;
    }
    .display{
        font-size: 2rem;
    }
    .njerry{
        top: 0.2rem;
        right: 0.3rem;
        width: 15vw;
        border: 0.1rem solid white  ;
    }
}